html {
  scroll-behavior: smooth;
}

.header {
  padding: 20px 40px 0;
  position: fixed;
  background-color: white;
  width: 100%;
}

.menu {
  display: inline-block;
  padding: 20px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.menu:hover {
  color: #ff931f;
}

/* .top {
  position: absolute;
  left: 180px;
  top: 40px;
  color: #303030;
  font-weight: 900;
}

.nav li {
  color: #303030;
  font-weight: bolder;
  display: inline-block;
}

.nav #logo {
  height: 60px;
} */
